// space

$micro: 4px;
$small: 10px;
$base: 15px;
$medium:20px;
$large:50px;

// font

$ft-xxs: 10px;
$ft-xs: 12px;
$ft-s: 14px;
$ft-m: 16px;
$ft-l: 20px;
$ft-xl: 24px;
$ft-xxl: 32px;

// z-index
$z1 : 1;
$z2 : 10;
$z3 : 100;
$z4 : 1000;

// add class
.move-up {
  transform: translateY(150px);
  transition: 1s ease-in-out;
}
